body {
  background-image: url("../../assets/body.jpg");
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content h1 {
  font-size: 400%;
  text-shadow: 3px 3px #595456;
  color: #7d8e87;
  width: fit-content;
}

.content a {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: block;
  width: fit-content;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

.content a:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

@media only screen and (max-width: 576px) {
  .content h1 {
	font-size: 1.8rem;
  }
}
