.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0px;
}

.detail-container {
  background-color:	#ddd3c9;
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  margin-right: 10px;
  border-radius: 29px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.detail-flag {
  width: 250px;
  height: 166px;
  margin-bottom: 30px;
}

.detail-container p {
  margin: 4px 0px;
}

.detail-label-subtitle {
  font-weight: bold;
}

.dtl-h2 {
  text-align: center;
  margin: 5px 5px;
}

.detail-activities-container {
  background-color:	#ddd3c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-left: 10px;
  border-radius: 29px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.25s;
}

.detail-a a {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d90 5%, #595456 100%);
  background-color: #768d87;
  border-radius: 10px;
  border: 1px solid #566963;
  display: block;
  width: fit-content;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  margin-left: 15px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

.test{
  margin: 0;
  padding: 0;
  border: 1px solid brown;
  width: 70%;
}
.test p {
  padding: 3px;
  margin: 2px;
}
.test li {
list-style-type: none;
font-weight: bold;
display: inline;
}
.test p li label {
  display: inline;
}
.last-li {
  border-bottom: 1px solid black;
}