.detail {
  height: 100vh;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.detail-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.detail-flag{
    width: 250px;
    height: 166px;
}

.detail-activities-container {
    width: 400px;
}