.card {
  width: 18%;
  height: 280px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 15px;
  text-align: center;
  transition: all 0.25s;
  padding: 10px;
  box-sizing: border-box;
}



.card:hover {
  transform: translateY(-4px);
  border: 1px solid rgb(71, 58, 11);
  border-radius: 20px;
  box-shadow: 18px -3px 15px 0px rgba(0, 0, 0, 0.4);
}

.card-li {
  list-style-type: none;
  font-weight: bold;
  display: inline;
  margin: 3px auto;
}

.label-li {
  display: inline;
}
