.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd3c9;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
  margin-bottom: 13px;
}

.logo {
  padding: 5px;
  margin-left: 30px;
}

.logo img {
  width: 35%;
}

.search {
  border: 3px black;
  width: 450px;
  display: flex;
  margin-right: 30px;
}

.searchInputs input {
  width: auto;
  border: 3px solid#9dbfaf;
  padding: 5px;
  height: auto;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  text-align: center;
  color: #595456;
  margin: 0px 10px;
}

.search-bar {
  display: flex;
}
.searchIcon {
  display: flex;
  align-items: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #595456;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
  color: #9dbfaf;
  text-align: center;
}

.searchTerm:focus {
  color: #7d8e87;
}

.searchButton {
  width: 150px;
  height: 36px;
  border: 1px solid #595456;
  background: #595456;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .wrap {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .search {
    width: 100%;
    height: auto;
    display: block;
  }
  .search a {
    text-decoration: none;
  }


.search-bar {
  margin: auto;
  justify-content: center;
  padding-bottom: 10px;
}

  .searchButton {
    width: 140px;
    margin: 6px auto;
    font-size: 1rem;
    display: block;
  }
}
